<header class="nice-box">
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-home fa-2x"></i></a></li>
            <li><a href="profile"><i class="fas fa-user fa-2x"></i></a></li> 
            <li><a href="posts"><i class="fas fa-plus-square fa-2x"></i></a></li>
            <li><a href="feed"><i class="fas fa-list fa-2x"></i></a></li>
        </ul>
    </nav>
</header>