<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burrito</title>
</head>
<body>
    <h1>Rank This Burrito Dot Com</h1>

    <div>
        <a href="login">Log in</a>
        <a href="signup">Sign up</a>
    </div>
    
    <div>
        <a href="/">Home</a>
        <a href="profile">Profile</a>
        <a href="posts">Let me tell you bout a burrito I had...</a>
        <a href="feed">Feed me the burritos</a>
    </div>
    
</body>
</html>