<%- include('partials/head') %>

<body>

<%- include('partials/nav') %> 

<div class="nice-box box-bottom-padding">
    <h1>YEETOZ</h1>
    <h3>Tell me all about that 🌯.</h3>

    <section class="container">
        <a class="btn login-btn" href="login">Log in</a>
        <a class="btn" href="signup">Sign up</a>
    </section>
</div>

</body>

<%- include('partials/footer') %> 