<%- include('partials/head')  %>

<body>
    
<%- include('partials/nav') %>

<div class="nice-box">
    <h1>Log In</h1>

    <div class="container">
        <form action ="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required></input>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required></input>
            </div>

            <button class="btn login-btn" type="submit">Log In</button>
        </form>
    </div>
    
</div>

<div class="container nice-box">
    <p>No account?</p>
    <a class="btn" href="signup">Sign up</a>
</div>
    
</body>

<%- include('partials/footer')  %> 