<%- include('partials/head')  %>

<body>

<%- include('partials/nav') %> 

<h1>Rank that burrito!</h1>

<section class="nice-box post-box">
    <form action="/createPost" method="POST">
        <input type="text" placeholder="Establishment name" name="establishment">
        <input type="text" placeholder="Type of burrito" name="burrito">
        <div>
            <label for="imgUpload" class="form-label">**?image</label>
            <input type="file" id="imageUpload" name="file">
        </div>
        <div>
            <i class="fas fa-star fa-2x"></i>
            <select name="stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        </div>
        
        <textarea placeholder="Comments...?" name="comment"></textarea>
        
        <input class="btn btn-bar" type="submit" name="submit" value="Submit">
    </form>
</section>
    
</body>

<%- include('partials/footer') %> 