<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Spartan&display=swap" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <header class="nice-box">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="profile">Profile</a></li> 
                <li><a href="posts">Post</a></li>
                <li><a href="feed">Feed</a></li>
            </ul>
            
        </nav>
    </header>

    <div class="nice-box">
        <h1>Sign Up</h1>

        <form action ="/signup" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required></input>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required></input>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required></input>
            </div>
    
            <button class="btn" type="submit">Sign up</button>
        </form>
        
    </div>

    <div class="container nice-box">
        <p>Got an account?</p>
        <a class="btn login-btn" href="login">Login</a>
    </div>
    
    
</body>
</html>