<%- include('partials/head')  %>

<body>

<%- include('partials/nav') %>

<div class="nice-box">
    <h1>Sign Up</h1>

    <div class="container">
        <form action ="/signup" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required></input>
            </div>
    
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required></input>
            </div>
    
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required></input>
            </div>
    
            <button class="btn" type="submit">Sign up</button>
        </form>
    </div>
    
</div>

<div class="container nice-box">
    <p>Got an account?</p>
    <a class="btn login-btn" href="login">Login</a>
</div>

</body>

<%- include('partials/footer')  %> 