<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <a href="/">Home</a>
    <a href="login">Login</a>

    <div>
        <form action ="/signup" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required></input>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required></input>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required></input>
            </div>
    
            <button type="submit">Sign Up</button>
        </form>
        
    </div>
    
    
</body>
</html>